<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-f50l2" role="list">
        <li id="Slide-aura-clientes-f50l2-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-7_fe55b2da-dd3b-45c2-89e0-f99f0165695a.jpg?v=1774299170" alt="Luisa M." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Luisa M. (Medell챠n)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Llegaron en 3 d챠as a mi casa. El pago contra entrega me dio mucha tranquilidad. Excelente atenci처n al cliente y el producto es de primera calidad.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-f50l2-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-9_86f1c5b3-cdcf-4865-a7de-43d0107cbb80.jpg?v=1774299177" alt="Miguel 횁." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Miguel 횁. (Cartagena)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>El dise챰o es elegante pero a la vez casual, se pueden usar en muchas ocasiones. Me los llev챕 a Cartagena de viaje y fueron perfectos para caminar todo el d챠a.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-f50l2-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-11_27ae9d28-e4d2-41a6-8e61-631fbdc22ef1.jpg?v=1774299163" alt="Carlos R." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Carlos R. (Bogot찼)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>La calidad super처 todas mis expectativas. Son incre챠blemente c처modos para el d챠a a d챠a y el color es id챕ntico a la foto. Los uso para todo: oficina, salidas y gym.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-f50l2-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-12_85e2db53-c91e-4b2d-bb38-17418fe29e6b.jpg?v=1774299166" alt="Marcela F." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Marcela F. (C첬cuta)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Los ped챠 para mi esposo y qued처 encantado. Dice que son los m찼s c처modos que ha tenido. Ya estoy pensando en pedir otro par para m챠 tambi챕n.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-f50l2-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-2_46e6a8c7-658b-41fb-bf78-0943f7bd42cf.jpg?v=1774299183" alt="Felipe O." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Felipe O. (Ibagu챕)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>No esperaba recibir algo de tan buena calidad a ese precio. El cuero sint챕tico se siente premium y los acabados son impecables. Definitivamente volver챠a a comprar.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>