<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-lseu8" role="list">
        <li id="Slide-aura-clientes-lseu8-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-12_85e2db53-c91e-4b2d-bb38-17418fe29e6b.jpg?v=1774299166" alt="Laura E." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Laura E. (Neiva)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Me los regal처 mi hermana y qued챕 enamorada. Son exactamente lo que buscaba: elegantes, c처modos y resistentes. El pago contraentrega le dio confianza a mi familia.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-lseu8-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-7_fe55b2da-dd3b-45c2-89e0-f99f0165695a.jpg?v=1774299170" alt="Felipe O." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Felipe O. (Ibagu챕)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>No esperaba recibir algo de tan buena calidad a ese precio. El cuero sint챕tico se siente premium y los acabados son impecables. Definitivamente volver챠a a comprar.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-lseu8-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-6_a40180a0-9f22-46a8-8437-f4648ba9e927.jpg?v=1774299197" alt="Andr챕s G." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Andr챕s G. (Cali)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>S첬per livianos y la talla es exacta seg첬n la gu챠a. El env챠o gratis es un ahorro real. Ya ped챠 el segundo par, esta vez para mi mam찼.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-lseu8-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-4_0c69295c-43e0-4cfe-9b61-4a0b56e40c6c.jpg?v=1774299190" alt="Sandra L." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Sandra L. (Manizales)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Compr챕 la talla que uso normalmente seg첬n la tabla y quedaron perfectos. La plantilla es muy acolchada, ideal para estar parado mucho tiempo en el trabajo.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-lseu8-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-1_db50f6df-1226-43e1-b720-bac7b6d41883.jpg?v=1774299180" alt="Alejandro N." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Alejandro N. (Buenaventura)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Compr챕 dos pares de diferentes colores y los dos llegaron perfectos. El servicio al cliente respondi처 mis preguntas r찼pido por WhatsApp. Muy buena experiencia.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>
