<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-cmtv0" role="list">
        <li id="Slide-aura-clientes-cmtv0-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-6_a40180a0-9f22-46a8-8437-f4648ba9e927.jpg?v=1774299197" alt="Paola T." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Paola T. (Bogotá)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Soy podóloga y sé de calzado. Estos tienen muy buen soporte de arco y la plantilla amortigua bien el impacto. Para estar parado todo el día son excelentes.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-cmtv0-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-3_e5c25088-52e3-4dbb-9742-5ca71584fe05.jpg?v=1774299187" alt="Andrés G." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Andrés G. (Cali)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Súper livianos y la talla es exacta según la guía. El envío gratis es un ahorro real. Ya pedí el segundo par, esta vez para mi mamá.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-cmtv0-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-9_86f1c5b3-cdcf-4865-a7de-43d0107cbb80.jpg?v=1774299177" alt="Diana C." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Diana C. (Armenia)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Pago contra entrega fue clave para animarme. Los recibí en perfectas condiciones, justo como los vi en la foto. La talla me quedó exacta y son muy cómodos.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-cmtv0-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-12_85e2db53-c91e-4b2d-bb38-17418fe29e6b.jpg?v=1774299166" alt="Camila H." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Camila H. (Pereira)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>La suela es antideslizante de verdad, los uso hasta en piso mojado sin problema. Ya se los recomendé a mis compañeros de trabajo y dos ya compraron.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-cmtv0-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-8_aab4e975-4b84-4437-a258-8adb0203151c.jpg?v=1774299173" alt="Ricardo B." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Ricardo B. (Bogotá)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Tercera compra en esta tienda y siempre quedo satisfecho. Consistentes en calidad, talla y tiempo de entrega. Ya son mis zapatos de cabecera para el trabajo.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>