<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-gs0bf" role="list">
        <li id="Slide-aura-clientes-gs0bf-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-9_86f1c5b3-cdcf-4865-a7de-43d0107cbb80.jpg?v=1774299177" alt="Carlos R." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Carlos R. (Bogotá)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>La calidad superó todas mis expectativas. Son increíblemente cómodos para el día a día y el color es idéntico a la foto. Los uso para todo: oficina, salidas y gym.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-gs0bf-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-7_fe55b2da-dd3b-45c2-89e0-f99f0165695a.jpg?v=1774299170" alt="Alejandro N." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Alejandro N. (Buenaventura)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Compré dos pares de diferentes colores y los dos llegaron perfectos. El servicio al cliente respondió mis preguntas rápido por WhatsApp. Muy buena experiencia.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-gs0bf-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-2_46e6a8c7-658b-41fb-bf78-0943f7bd42cf.jpg?v=1774299183" alt="Diana C." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Diana C. (Armenia)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Pago contra entrega fue clave para animarme. Los recibí en perfectas condiciones, justo como los vi en la foto. La talla me quedó exacta y son muy cómodos.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-gs0bf-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-4_0c69295c-43e0-4cfe-9b61-4a0b56e40c6c.jpg?v=1774299190" alt="Valentina S." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Valentina S. (Barranquilla)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Me los puse el mismo día que llegaron y no me los quité en todo el fin de semana. Combinan con todo y son muy cómodos para caminar largas distancias.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-gs0bf-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-8_aab4e975-4b84-4437-a258-8adb0203151c.jpg?v=1774299173" alt="Juan P." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Juan P. (Bucaramanga)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Pedí con algo de desconfianza porque nunca había comprado online calzado, pero llegaron perfectos. La caja estaba impecable y el material es resistente.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>