<div class="multicolumn no-heading" style="padding:8px 0;">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-vzpaf" role="list">
        <li id="Slide-aura-clientes-vzpaf-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-1_db50f6df-1226-43e1-b720-bac7b6d41883.jpg?v=1774299180" alt="Camila H." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Camila H. (Pereira)</h3>
              <div class="rte"><p>⭐️⭐️⭐️⭐️⭐️</p><p><em>La suela es antideslizante de verdad, los uso hasta en piso mojado sin problema. Ya se los recomendé a mis compañeros de trabajo y dos ya compraron.</em></p></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-vzpaf-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-3_e5c25088-52e3-4dbb-9742-5ca71584fe05.jpg?v=1774299187" alt="Isabella C." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Isabella C. (Cali)</h3>
              <div class="rte"><p>⭐️⭐️⭐️⭐️⭐️</p><p><em>El color en persona es incluso mejor que en las fotos. Los materiales son de buena calidad y el forro interior es suave, no irrita el pie sin medias.</em></p></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-vzpaf-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-11_27ae9d28-e4d2-41a6-8e61-631fbdc22ef1.jpg?v=1774299163" alt="Ricardo B." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Ricardo B. (Bogotá)</h3>
              <div class="rte"><p>⭐️⭐️⭐️⭐️⭐️</p><p><em>Tercera compra en esta tienda y siempre quedo satisfecho. Consistentes en calidad, talla y tiempo de entrega. Ya son mis zapatos de cabecera para el trabajo.</em></p></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-vzpaf-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-7_fe55b2da-dd3b-45c2-89e0-f99f0165695a.jpg?v=1774299170" alt="Felipe O." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Felipe O. (Ibagué)</h3>
              <div class="rte"><p>⭐️⭐️⭐️⭐️⭐️</p><p><em>No esperaba recibir algo de tan buena calidad a ese precio. El cuero sintético se siente premium y los acabados son impecables. Definitivamente volvería a comprar.</em></p></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-vzpaf-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-6_a40180a0-9f22-46a8-8437-f4648ba9e927.jpg?v=1774299197" alt="Natalia R." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Natalia R. (Villavicencio)</h3>
              <div class="rte"><p>⭐️⭐️⭐️⭐️⭐️</p><p><em>Llevo 3 meses usándolos casi todos los días y siguen como nuevos. La costura está muy bien hecha y la suela no se ha desgastado. Excelente inversión.</em></p></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>