<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-hkd00" role="list">
        <li id="Slide-aura-clientes-hkd00-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-9_86f1c5b3-cdcf-4865-a7de-43d0107cbb80.jpg?v=1774299177" alt="Ricardo B." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Ricardo B. (Bogotá)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Tercera compra en esta tienda y siempre quedo satisfecho. Consistentes en calidad, talla y tiempo de entrega. Ya son mis zapatos de cabecera para el trabajo.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-hkd00-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-7_fe55b2da-dd3b-45c2-89e0-f99f0165695a.jpg?v=1774299170" alt="Miguel Á." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Miguel Á. (Cartagena)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>El diseño es elegante pero a la vez casual, se pueden usar en muchas ocasiones. Me los llevé a Cartagena de viaje y fueron perfectos para caminar todo el día.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-hkd00-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-6_a40180a0-9f22-46a8-8437-f4648ba9e927.jpg?v=1774299197" alt="Diana C." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Diana C. (Armenia)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Pago contra entrega fue clave para animarme. Los recibí en perfectas condiciones, justo como los vi en la foto. La talla me quedó exacta y son muy cómodos.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-hkd00-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-3_e5c25088-52e3-4dbb-9742-5ca71584fe05.jpg?v=1774299187" alt="Isabella C." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Isabella C. (Cali)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>El color en persona es incluso mejor que en las fotos. Los materiales son de buena calidad y el forro interior es suave, no irrita el pie sin medias.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-hkd00-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-11_27ae9d28-e4d2-41a6-8e61-631fbdc22ef1.jpg?v=1774299163" alt="Esteban Q." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Esteban Q. (Medellín)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Vendedor confiable, producto de calidad y envío rápido. ¿Qué más se puede pedir? La guía de tallas es muy precisa, no tengas miedo de comprar.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>