<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-waro5" role="list">
        <li id="Slide-aura-clientes-waro5-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-6_a40180a0-9f22-46a8-8437-f4648ba9e927.jpg?v=1774299197" alt="Alejandro N." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Alejandro N. (Buenaventura)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Compré dos pares de diferentes colores y los dos llegaron perfectos. El servicio al cliente respondió mis preguntas rápido por WhatsApp. Muy buena experiencia.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-waro5-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-5_7de68922-db21-4519-991c-c72152715f99.jpg?v=1774299193" alt="Felipe O." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Felipe O. (Ibagué)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>No esperaba recibir algo de tan buena calidad a ese precio. El cuero sintético se siente premium y los acabados son impecables. Definitivamente volvería a comprar.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-waro5-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-7_fe55b2da-dd3b-45c2-89e0-f99f0165695a.jpg?v=1774299170" alt="Paola T." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Paola T. (Bogotá)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Soy podóloga y sé de calzado. Estos tienen muy buen soporte de arco y la plantilla amortigua bien el impacto. Para estar parado todo el día son excelentes.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-waro5-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-1_db50f6df-1226-43e1-b720-bac7b6d41883.jpg?v=1774299180" alt="Camila H." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Camila H. (Pereira)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>La suela es antideslizante de verdad, los uso hasta en piso mojado sin problema. Ya se los recomendé a mis compañeros de trabajo y dos ya compraron.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-waro5-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-11_27ae9d28-e4d2-41a6-8e61-631fbdc22ef1.jpg?v=1774299163" alt="Luisa M." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Luisa M. (Medellín)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Llegaron en 3 días a mi casa. El pago contra entrega me dio mucha tranquilidad. Excelente atención al cliente y el producto es de primera calidad.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>