<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-ioyy5" role="list">
        <li id="Slide-aura-clientes-ioyy5-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-8_aab4e975-4b84-4437-a258-8adb0203151c.jpg?v=1774299173" alt="Ricardo B." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Ricardo B. (Bogot찼)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Tercera compra en esta tienda y siempre quedo satisfecho. Consistentes en calidad, talla y tiempo de entrega. Ya son mis zapatos de cabecera para el trabajo.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-ioyy5-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-4_0c69295c-43e0-4cfe-9b61-4a0b56e40c6c.jpg?v=1774299190" alt="Isabella C." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Isabella C. (Cali)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>El color en persona es incluso mejor que en las fotos. Los materiales son de buena calidad y el forro interior es suave, no irrita el pie sin medias.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-ioyy5-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-7_fe55b2da-dd3b-45c2-89e0-f99f0165695a.jpg?v=1774299170" alt="Felipe O." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Felipe O. (Ibagu챕)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>No esperaba recibir algo de tan buena calidad a ese precio. El cuero sint챕tico se siente premium y los acabados son impecables. Definitivamente volver챠a a comprar.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-ioyy5-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-12_85e2db53-c91e-4b2d-bb38-17418fe29e6b.jpg?v=1774299166" alt="Carlos R." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Carlos R. (Bogot찼)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>La calidad super처 todas mis expectativas. Son incre챠blemente c처modos para el d챠a a d챠a y el color es id챕ntico a la foto. Los uso para todo: oficina, salidas y gym.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-ioyy5-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-11_27ae9d28-e4d2-41a6-8e61-631fbdc22ef1.jpg?v=1774299163" alt="Alejandro N." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Alejandro N. (Buenaventura)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Compr챕 dos pares de diferentes colores y los dos llegaron perfectos. El servicio al cliente respondi처 mis preguntas r찼pido por WhatsApp. Muy buena experiencia.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>