<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestras Clientas</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-nyz9e" role="list">
        <li id="Slide-aura-clientes-nyz9e-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-1_db50f6df-1226-43e1-b720-bac7b6d41883.jpg?v=1774299180" alt="Valentina R." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Valentina R. (Bogotá)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Lo compré sin mucha expectativa y me dejó sin palabras. El material es suave, se ajusta perfecto al cuerpo y los colores de la selección son idénticos a la foto. Ya pedí el segundo para mi hermana.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-nyz9e-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-6_a40180a0-9f22-46a8-8437-f4648ba9e927.jpg?v=1774299197" alt="Camila H." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Camila H. (Medellín)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Llegó en 3 días y lo pagué en efectivo al recibirlo. Ese detalle del pago contraentrega me dio toda la confianza. La talla M me quedó perfecta según la guía.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-nyz9e-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-2_46e6a8c7-658b-41fb-bf78-0943f7bd42cf.jpg?v=1774299183" alt="Gloria E." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Gloria E. (Pasto)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Lo pedí para mi hija de 25 años y quedó encantada. Dice que es el regalo más bonito que le han dado. El pago contraentrega me dio tranquilidad como mamá que paga.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-nyz9e-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-4_0c69295c-43e0-4cfe-9b61-4a0b56e40c6c.jpg?v=1774299190" alt="Juliana O." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Juliana O. (Neiva)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>El material tiene un tacto suave y fresco, ideal para el calor de la costa. No transparenta y los colores de la selección quedaron muy bien definidos. Pedido perfecto.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-nyz9e-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-3_e5c25088-52e3-4dbb-9742-5ca71584fe05.jpg?v=1774299187" alt="Luisa F." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Luisa F. (Cali)</h3>
              <div class="rte"><h5>⭐️⭐️⭐️⭐️⭐️</h5><h5><em>Se lo pedí de regalo a mi esposo para ver Colombia y quedó hermoso. La tela es de buena calidad, no se ve transparente ni se corre con el uso. Muy elegante para una prenda deportiva.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>