<div class="multicolumn color-inverse">
  <div class="page-width isolate">
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
      <h2 class="title inline-richtext h1">Nuestros Clientes</h2>
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek"
          id="Slider-aura-clientes-jawc7" role="list">
        <li id="Slide-aura-clientes-jawc7-1" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-1_db50f6df-1226-43e1-b720-bac7b6d41883.jpg?v=1774299180" alt="Camila H." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Camila H. (Pereira)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>La suela es antideslizante de verdad, los uso hasta en piso mojado sin problema. Ya se los recomend챕 a mis compa챰eros de trabajo y dos ya compraron.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-jawc7-2" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-6_a40180a0-9f22-46a8-8437-f4648ba9e927.jpg?v=1774299197" alt="Sandra L." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Sandra L. (Manizales)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Compr챕 la talla que uso normalmente seg첬n la tabla y quedaron perfectos. La plantilla es muy acolchada, ideal para estar parado mucho tiempo en el trabajo.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-jawc7-3" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-4_0c69295c-43e0-4cfe-9b61-4a0b56e40c6c.jpg?v=1774299190" alt="Marcela F." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Marcela F. (C첬cuta)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Los ped챠 para mi esposo y qued처 encantado. Dice que son los m찼s c처modos que ha tenido. Ya estoy pensando en pedir otro par para m챠 tambi챕n.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-jawc7-4" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/hombre-11_27ae9d28-e4d2-41a6-8e61-631fbdc22ef1.jpg?v=1774299163" alt="Juan P." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Juan P. (Bucaramanga)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Ped챠 con algo de desconfianza porque nunca hab챠a comprado online calzado, pero llegaron perfectos. La caja estaba impecable y el material es resistente.</em></h5></div>
            </div>
          </div>
        </li>
        <li id="Slide-aura-clientes-jawc7-5" class="multicolumn-list__item grid__item slider__slide center">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--third-width multicolumn-card-spacing">
              <div class="media media--transparent media--circle">
                <img src="https://cdn.shopify.com/s/files/1/0983/0213/2505/files/mujer-2_46e6a8c7-658b-41fb-bf78-0943f7bd42cf.jpg?v=1774299183" alt="Valentina S." class="multicolumn-card__image" loading="lazy" width="200" height="200">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">Valentina S. (Barranquilla)</h3>
              <div class="rte"><h5>狩먲툘狩먲툘狩먲툘狩먲툘狩먲툘</h5><h5><em>Me los puse el mismo d챠a que llegaron y no me los quit챕 en todo el fin de semana. Combinan con todo y son muy c처modos para caminar largas distancias.</em></h5></div>
            </div>
          </div>
        </li>
      </ul>
    </slider-component>
  </div>
</div>