<div class="cart-drawer__mcnudges" style="background-color: #F2F2F2; display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 12px; margin-bottom: 0px;">

  <div class="cart-drawer__mc_single_nudge" style="font-style: normal; font-weight: 700; font-size: 14px; line-height: 20px; letter-spacing: 0.01em; color: #000; display: inline-block; display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 0; gap: 8px;">

    <img src="https://cdn.shopify.com/s/files/1/0260/0917/4093/files/ShieldCheck.svg?v=1685904060" class="cart-drawer__mc_single_nudge_img">
      {{ settings.cartreturnbadge }}
  </div>

</div>
