
<li class="flex justify-between">
    <div class="img_box" style="width:45%"><img style="border-radius:50%" 

src="{{block.settings.reviewimage | img_url: 'master'}}"></div>
   

 <div class="content_box rte" style="margin-left:20px">
      <p style="font-size:13px" class="prod__description"> "{{block.settings.reviewtext}}" <i class="fa-solid fa-star" style="color:#ffd200"> </i><i class="fa-solid fa-star" style="color:#ffd200"> </i><i class="fa-solid fa-star" style="color:#ffd200"> </i><i class="fa-solid fa-star" style="color:#ffd200"> </i><i class="fa-solid fa-star" style="color:#ffd200"> </i><br><strong>– <i class="fa-solid fa-circle-check" style="color: #2C95E9;">&nbsp;</i><i>{{block.settings.reviewname}}</i></strong></p>
    </div>
  </li>