
<div id="aboveTheFold1">

  <div class="abvText">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" style="
    position: relative;
    top: 4px;
">
<path style="fill:{{block.settings.iconcolorreturns}};" d="M14.25 0.125H1.75C1.41848 0.125 1.10054 0.256696 0.866116 0.491116C0.631696 0.725537 0.5 1.04348 0.5 1.375V5.96094C0.5 12.9453 6.42188 15.2656 7.60938 15.6562C7.8631 15.7397 8.1369 15.7397 8.39062 15.6562C9.57812 15.2656 15.5 12.9453 15.5 5.96094V1.375C15.5 1.04348 15.3683 0.725537 15.1339 0.491116C14.8995 0.256696 14.5815 0.125 14.25 0.125ZM11.8672 5.57812L7.28906 9.95312C7.17071 10.0645 7.01405 10.126 6.85156 10.125C6.69146 10.1256 6.53739 10.064 6.42188 9.95312L4.13281 7.76562C4.06932 7.71023 4.01769 7.64257 3.98101 7.56672C3.94434 7.49086 3.92338 7.40837 3.9194 7.32421C3.91541 7.24004 3.92849 7.15594 3.95784 7.07696C3.98719 6.99798 4.03221 6.92575 4.09018 6.86461C4.14816 6.80347 4.2179 6.75469 4.29521 6.72119C4.37253 6.68769 4.45581 6.67017 4.54007 6.66968C4.62432 6.66919 4.70781 6.68574 4.78551 6.71834C4.8632 6.75094 4.9335 6.79891 4.99219 6.85938L6.85156 8.63281L11.0078 4.67188C11.1293 4.56585 11.2871 4.51091 11.4482 4.51853C11.6093 4.52615 11.7612 4.59575 11.8722 4.71277C11.9832 4.8298 12.0446 4.98519 12.0437 5.14646C12.0428 5.30773 11.9795 5.4624 11.8672 5.57812Z" fill="#449CE8"></path>
</svg>


   {{block.settings.text1}}
  </div>
  <div class="abvText shippingDiv">
    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14" fill="none" style="
    position: relative;
    top: 3px;
">
<path style="fill:{{block.settings.iconcolorreturns}};" d="M18.875 5.36719V5.35156C18.8763 5.33299 18.8736 5.31435 18.8672 5.29688V5.27344C18.8672 5.25781 18.8594 5.24219 18.8594 5.22656V5.21094L18.8438 5.14844H18.8359L17.7422 2.42969C17.655 2.19175 17.4963 1.98663 17.2879 1.84254C17.0795 1.69845 16.8315 1.62246 16.5781 1.625H13.875V1C13.875 0.83424 13.8092 0.675269 13.6919 0.558058C13.5747 0.440848 13.4158 0.375 13.25 0.375H1.375C1.04348 0.375 0.725537 0.506696 0.491117 0.741116C0.256696 0.975537 0.125 1.29348 0.125 1.625V10.375C0.125 10.7065 0.256696 11.0245 0.491117 11.2589C0.725537 11.4933 1.04348 11.625 1.375 11.625H2.39062C2.52831 12.1628 2.84106 12.6394 3.27957 12.9798C3.71807 13.3202 4.25739 13.5049 4.8125 13.5049C5.36761 13.5049 5.90693 13.3202 6.34543 12.9798C6.78394 12.6394 7.09669 12.1628 7.23438 11.625H11.7656C11.9033 12.1628 12.2161 12.6394 12.6546 12.9798C13.0931 13.3202 13.6324 13.5049 14.1875 13.5049C14.7426 13.5049 15.2819 13.3202 15.7204 12.9798C16.1589 12.6394 16.4717 12.1628 16.6094 11.625H17.625C17.9565 11.625 18.2745 11.4933 18.5089 11.2589C18.7433 11.0245 18.875 10.7065 18.875 10.375V5.375V5.36719ZM13.875 2.875H16.5781L17.3281 4.75H13.875V2.875ZM1.375 1.625H12.625V6.625H1.375V1.625ZM4.8125 12.25C4.56527 12.25 4.3236 12.1767 4.11804 12.0393C3.91248 11.902 3.75226 11.7068 3.65765 11.4784C3.56304 11.2499 3.53829 10.9986 3.58652 10.7561C3.63475 10.5137 3.7538 10.2909 3.92862 10.1161C4.10343 9.9413 4.32616 9.82225 4.56864 9.77402C4.81111 9.72579 5.06245 9.75054 5.29085 9.84515C5.51926 9.93976 5.71449 10.1 5.85184 10.3055C5.98919 10.5111 6.0625 10.7528 6.0625 11C6.0625 11.3315 5.9308 11.6495 5.69638 11.8839C5.46196 12.1183 5.14402 12.25 4.8125 12.25ZM14.1875 12.25C13.9403 12.25 13.6986 12.1767 13.493 12.0393C13.2875 11.902 13.1273 11.7068 13.0326 11.4784C12.938 11.2499 12.9133 10.9986 12.9615 10.7561C13.0097 10.5137 13.1288 10.2909 13.3036 10.1161C13.4784 9.9413 13.7012 9.82225 13.9436 9.77402C14.1861 9.72579 14.4374 9.75054 14.6659 9.84515C14.8943 9.93976 15.0895 10.1 15.2268 10.3055C15.3642 10.5111 15.4375 10.7528 15.4375 11C15.4375 11.3315 15.3058 11.6495 15.0714 11.8839C14.837 12.1183 14.519 12.25 14.1875 12.25Z" fill="#449CE8"></path>
</svg>


   {{block.settings.text2}}
  </div>  
</div>




<style>

.abvText {
  color: #82a8d3;
  text-align: center;
}

.freeShipping .shippingDiv {
  display: block;
}
/*! CSS Used from: Embedded */
#aboveTheFold1 {
  display: grid;
  margin-top: 10px;
}
#aboveTheFold1 {
  grid-auto-flow: column;
  width: 100%;
  justify-content: initial;
  grid-column-gap: 8px;
  margin-bottom: 1rem;
  background: #909aa51f;
  border-radius: 40px;
  font-size: 13px;
  padding: 10px 0px;
  align-items: center;
  font-weight: bold;
}
#aboveTheFold1 .abvText {
  color: black;
  text-align: center;
}
/*! CSS Used from: Embedded */
@media screen and (max-width: 749px) {
  .onesizefits {
    display: none;
  }
  #aboveTheFold1 {
    font-size: 14px;
  }
}
/*! CSS Used from: Embedded */
@media screen and (min-width: 751px) and (max-width: 1024px) {
  #aboveTheFold1 {
    font-size: 15px;
  }
}

.croSec #aboveTheFold1 {
  display: grid !important;
}



</style>