<div class="menu-drawer__benefits">
          <div class="pro-iwt-wrap">
              <div class="innr">
                <div class="inner-icon"><img src="https://cdn.shopify.com/s/files/1/0774/3088/2620/files/shipping_icon_05cc2cfc-477a-4e16-a4d0-ba7e7b94dd37.webp?v=1687039445"></div>
                <p>{{section.settings.menutext1}}</p> 
              </div>
              <div class="innr">
                <div class="inner-icon"><img src="https://cdn.shopify.com/s/files/1/0774/3088/2620/files/happyface.webp?v=1687039419"></div>
                <p>{{section.settings.menutext2}}</p> 
              </div>
              <div class="innr">
                <div class="inner-icon"><img src="https://cdn.shopify.com/s/files/1/0774/3088/2620/files/easyreturns.webp?v=1687039419"></div>
                <p>{{section.settings.menutext3}}</p> 
              </div>
            </div>

               

 </div>