<div class="jump-shipping">
               
                <div class="jump-contents">
                  <div class="jump-content">
 <div class="jump-icon">
                  <img src="//cdn.shopify.com/s/files/1/0635/8581/2722/t/33/assets/jump.svg?v=151894770643637903151673850773" class="jump-img" alt="">
                </div>

                    <h2 class="jump-title">{{ block.settings.title_upselltitle }}</h2>

                  </div>


                  
                </div>
                <div class="jump-product"><div class="jump-selector">

<div data-id="a1db8658-f1ef-4e07-a56a-3a4493228d69">
    <div class="axeMainBox">
      <div class="axeImageWrapper">
        <label for="axeUpsellCheckbox" class="axeCheckbox">
          <input type="checkbox" id="axeUpsellCheckbox" value="{{ block.settings.title_upsellid }}">
          <span class="axeCheckmark"></span>
        </label>
      </div>
      <div class="axeMainContentWrapper">
        
        <div class="axeMainTextWrapper">
          <span>
      
          </span>
         
        </div>
      </div>
    </div>
  </div>
                

                  </div>
                </div>
              </div>









<style>

.jump-shipping {
    background: #1fc57f08;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #35a173;
    display: block;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    align-items: center;
}

.jump-icon {
    max-width: 22px;
    width: 100%;
    margin: auto 7px auto 5px;
    font-size: 0;
}

img.jump-img {
    width: 100%;
}

.jump-contents {
    display: inline-flex;
    justify-content: space-between;
    max-width: 330px;
    margin: auto;
    align-items: center;
    width: 100%;
  margin-left: 5px;
}

.jump-content {
    display: inline-flex;
    margin: 6px 0 auto;
}

h2.jump-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #272a2f;
    margin: 0;
    max-width: 178px;
}

.jumb-button {
    margin: auto 18px auto 8px;
}

span.jump-learn {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #35a173;
    letter-spacing: 0;
    cursor: pointer;
}

.jump-product {
    max-width: 85%;
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
}

.jump-selector {
    position: relative;
}

.jump-selector {
    background: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #272a2f;
    display: flex;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(39,42,47,.2);
    border-radius: 8px;
    align-items: center;
    letter-spacing: 0;
    justify-content: left;
}

.jump-selector input[type=checkbox] {
    visibility: hidden;
}

.jump-selector label {
    position: absolute;
    left: 16px;
    display: flex;
    column-gap: 5px;
    cursor: pointer;
    align-items: center;
}

.jump-selector label:before {
    width: 16px;
    content: "";
    height: 16px;
    display: block;
    background: #f4f4f4;
    border-radius: 50px;
}

.jump-selector label:after {
    border-top: none;
    border-right: none;
    content: "";
    position: absolute;
}




.axeMainBox .axeImageWrapper .axeCheckbox .axeCheckmark {
    height: 15px!important;
       width: 15px!important;
    border-radius: 50%;
}


.axeMainBox .axeImageWrapper .axeCheckbox.axeActive .axeCheckmark {
    background-color: green!important;
}



.axeMainBox .axeImageWrapper .axeCheckbox.axeActive .axeCheckmark:after, .axeMainBox .axeImageWrapper .axeCheckbox.axeLoading .axeCheckmark:before {
    display: none!important;
}

label.axeCheckbox {
    height: 15px!important;
}







.jump-selector label:before {

    content: "{{ block.settings.title_upselltitle2 }}";
    margin-left: 30px;
    white-space: nowrap;
}

</style>


<script src="https://cdn.shopify.com/extensions/de07a50d-5a4c-4489-b4e4-a2584fcb6c6a/0.0.0/assets/axe-checkbox.min.js?v=1684657794" type="text/javascript" defer="defer" data-app-id="6742265"></script>
<link href="https://cdn.shopify.com/extensions/de07a50d-5a4c-4489-b4e4-a2584fcb6c6a/0.0.0/assets/axe-custom.min.css?v=1684657794" rel="stylesheet" type="text/css" media="all" data-app-id="6742265">


