<li class="sales-point">
    <span class="icon-and-text inventory--low" style="color: {{block.settings.salepointcolor }}!important;">
      <span class="icon icon--inventory" style="color: {{block.settings.salepointcolor }}!important;"></span>
      <span data-product-inventory="" data-threshold="1000" ;="" style="color:#000; font-size:15px">{{block.settings.salespointtext}}</span></span></li>

