<body onload="getShippingDate()">
<center><svg style="width:14px;height:14px;vertical-align:middle;" viewBox="0 0 448 512" fill="currentColor" aria-hidden="true"><path d="M429.6 92.1c4.9-11.9 2.1-25.6-7-34.7s-22.8-11.9-34.7-7l-352 144c-14.2 5.8-22.2 20.8-19.3 35.8s16.1 25.8 31.4 25.8H224V432c0 15.3 10.8 28.4 25.8 31.4s30-5.1 35.8-19.3l144-352z"/></svg> {{block.settings.preshipsby}}
<span id="shipping-date"></span> {{block.settings.postshipsby}} </center>

</body>




	<script type="text/javascript">
		function getShippingDate() {
			// Get the current date and add 2 days
			let shippingDate = new Date();
			shippingDate.setDate(shippingDate.getDate() + {{block.settings.shippingarrow}});

			// Check if the shipping date falls on a weekend (Saturday or Sunday)
			if (shippingDate.getDay() === 6) { // Saturday
				shippingDate.setDate(shippingDate.getDate() + {{block.settings.shippingarrow}}); // Add 2 more days for Tuesday
			} else if (shippingDate.getDay() === 0) { // Sunday
				shippingDate.setDate(shippingDate.getDate() + 1); // Add 1 more day for Tuesday
			}

			// Format the shipping date as a string and display it in the HTML page
			let formattedDate = shippingDate.toLocaleDateString('en-US', { weekday: 'long' });
			document.getElementById('shipping-date').innerHTML = formattedDate;
		}
	</script>