{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'aura-collection.css' | asset_url | stylesheet_tag }}

<div class="aura-collection-hero" style="background-image: url('https://cdn.shopify.com/s/files/1/0983/0213/2505/files/image.png_202603252108.jpg?v=1774490953');">
  <div class="aura-collection-hero__overlay"></div>
  <div class="aura-collection-hero__inner page-width">
    <p class="aura-collection-hero__eyebrow">Calzado Premium · Top Quality 1.1</p>
    <h1 class="aura-collection-hero__title">{{ collection.title | escape }}</h1>
    {%- if section.settings.show_collection_description and collection.description != blank -%}
      <p class="aura-collection-hero__desc">{{ collection.description }}</p>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        { "value": "accent-1", "label": "t:sections.all.colors.accent_1.label" },
        { "value": "accent-2", "label": "t:sections.all.colors.accent_2.label" },
        { "value": "background-1", "label": "t:sections.all.colors.background_1.label" },
        { "value": "background-2", "label": "t:sections.all.colors.background_2.label" },
        { "value": "inverse", "label": "t:sections.all.colors.inverse.label" }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}
